.main {
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.footer {
  position: "fixed !important";
  bottom: 0;
  width: "100%";
}
